.urgent {
    color: white;
    background-color: rgb(255, 51, 51);
    padding: 8px 12px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 10px;
}
.descriptionButton {
    background-color: rgb(255, 176, 57);
    color: white;
    padding: 8px 12px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 10px
}
.taskItem {
    border: 2px solid #afafaf; 
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(244, 255, 231);
    list-style: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}